* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    word-spacing: 1.2px;
}

body {
    min-height: 100vh;
    background-color: white;
    margin: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #1f1f1f;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 12px;
}

.left-links, .right-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#connect {
    background: #0b57d0;
    color: #eeeeee;
    border-radius: 20px;
    padding: 10px;
}

.footer {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

}

.left-bottom, .right-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}


button {
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 12px 20px;
    width: 650px;
    max-width: 650px;
    box-shadow: 1px 1px 10px 2px #cdcdcd;
}

input::placeholder {
    color:#cdcdcd;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}