* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    word-spacing: 1.2px;
}

body {
    height: 100vh;
    background-color: white;
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-links, .right-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons, .account {
    max-width: 30px;
}
.footer {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.left-bottom, .right-bottom{
    display: flex;
    gap: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 18px;
}


button {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 650px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}