* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    word-spacing: 1.2px;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #1f1f1f;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 12px;
}

.left-links, .right-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#connect {
    background: #0b57d0;
    color: #eeeeee;
    border-radius: 20px;
    padding: 10px;
}

#connect:hover {
    box-shadow: 1px 1px 10px 2px blue;
}

.space {
    display: flex;
    flex-grow: 1;
}

.footer {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

}

.left-bottom, .right-bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px;
}

@media (max-width:768px){
    .middle {
    order: -1;
    flex-basis: 100%;
    }
}
    .middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}

.logo {
    max-width: 250px;
    width: 250px;
}

button {
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
}

button:hover{
    box-shadow: 1px 1px 4px 2px #e2e2e2;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 12px 20px;
    width: 450px;
    max-width: 450px;
    box-shadow: 1px 1px 10px 1px #cdcdcd;
}

/*refer to attribute*/
input::placeholder {
    color:#cdcdcd;
}
/*add hover effect*/
input:hover {
    box-shadow: 1px 1px 10px 2px blue;
}
/*add focus effect when clicked*/
input:focus-visible {
    outline: 2px solid #0b57d0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}